= title(2,i18n.txt_edu,'edu')
 
- resume.education_formal.each do |edu|
  .row.education
    .col-md-2.headers= i18n.edu_type
    .col-md-4.type= edu.type
  .row.education
    .col-md-2.headers= i18n.edu_when
    .col-md-4= edu.dates
  .row.education
    .col-md-2.headers= i18n.edu_where
    .col-md-4= edu.where
  .row.education
    .col-md-2.headers= i18n.edu_what
    .col-md-4= edu.what
  %hr