= title(2,i18n.experience,'experience')

- resume.companies.each do |company|
  - company.positions.each do |pos|
    .experience-item
      .row.experience.position
        .col-md-3.headers= i18n.experience_position
        .col-md-9
          %strong= pos.name 
          
      .row.experience
        .col-md-3.headers= i18n.experience_from
        .col-md-9= pos.dates
          
      .row.experience
        .col-md-3.headers= i18n.experience_employer
        .col-md-9= company.name
          
      .row.experience
        .col-md-3.headers= i18n.experience_responsibilities
        .col-md-9
          %ul
            - pos.tasks.each do |task|
              %li= task
    %hr          