{% macro head(txt,lev,makehr,id) %}
    {% if makehr is null %}{% set makehr = true %}{% endif %}
    {% if lev is null %}
    {% set lev = 2 %}
    {% endif %}
    {% if lev == 2 and makehr %}
    <hr>
    {% endif %}
    <h{{ lev }} id="{{ id }}">{{ txt }}</h{{lev}}>

{% endmacro %}

{% macro skillRow(l) %}
    <tr>
        <td>{{ l.name }}</td>
        <td class="lang-general">
            <div>
                <span class="starcont icons-big">{% for i in 1..l.general %}					<i
                        class="icon-star"></i>            {% endfor %}</span>
                <span class="starcont icons-big">{% for i in 1..(l.generalMax-l.general) %}	<i
                        class="icon-star-empty"></i>        {% endfor %}</span>
			<span style="lab">({{ l.general }} &frasl; {{ l.generalMax }})
            </div>
        </td>
        {% for exp in l.skillExperienceArray %}
            {% if exp %}{% set cl = 'check' %}{% else %}{% set cl = 'check-empty' %}{% endif %}
            <td style="width:40px;text-align:center;" class="{{ cl }} icons-big"><i class="icon-{{ cl }}"></i></td>
        {% endfor %}
    </tr>
{% endmacro %}


<div class="container">

    {{ _self.head(data.lang.experience,null,null,'experience') }}

    {% for exp in data.experience %}

        <div class="row experience">
            <div class="span2 headers">{{ data.lang.experience_from }}</div>
            <div class="span4">
                {{ exp.when }}
            </div>
        </div>
        <div class="row experience">
            <div class="span2 headers">{{ data.lang.experience_employer }}</div>
            <div class="span4">
                {{ exp.where }}
            </div>
        </div>
        <div class="row experience">
            <div class="span2 headers">{{ data.lang.experience_position }}</div>
            <div class="span4">
                <strong>{{ exp.position }}</strong>
            </div>
        </div>
        <div class="row experience">
            <div class="span2 headers">{{ data.lang.experience_responsibilities }}</div>
            <div class="span4">
                <ul>
                    {% for task in exp.tasks %}
                        <li>{{ task }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

    {{ _self.head(data.lang.txt_edu,null,null,'edu') }}


    {% for exp in data.education().formal %}
        <div class="row">
            <div class="span2 headers">{{ data.lang.edu_type }}</div>
            <div class="span4">
                {{ exp.type }}
            </div>
        </div>

        <div class="row">
            <div class="span2 headers">{{ data.lang.edu_when }}</div>
            <div class="span4">
                {{ exp.when }}
            </div>
        </div>
        <div class="row">
            <div class="span2 headers">{{ data.lang.edu_where }}</div>
            <div class="span4">
                {{ exp.where }}
            </div>
        </div>
        <div class="row">
            <div class="span2 headers">{{ data.lang.edu_what }}</div>
            <div class="span4">
                {{ exp.what }}
            </div>
        </div>
        <hr>
    {% endfor %}

    {{ _self.head(data.lang.skills,null,null,'skills') }}

    <h3>{{ data.lang.it_skills }}</h3>

    <hr>

    <h4>{{ data.lang.languages_and_technology_stacks }}</h4>
    <table id="languages">
        <thead>
        <tr>
            <th class="lan">{{ data.lang.language }}</th>
            <th>{{ data.lang.language_general }}</th>
            {% for icon in ['leaf','beaker','cogs','briefcase','money'] %}
			<th style="width:40px;" class="icons-big"><i class="icon-{{ icon }}" title="{{ attribute(data.lang,'icon_'~icon) }}"></i></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for l in data.languages %}
            {{ _self.skillRow(l) }}
        {% endfor %}
        </tbody>
		<tbody>
        <tr>
        	<td colspan="2">
				<h4>Other languages I dabbled with:</h4>
				<span>(but can hardly consider myself adept)</span><br>
				<span>
					{{ data.otherLangs|join(', ') }}
				</span>
			</td>

        </tr>
		</tbody>
    </table>

    <h4>{{ data.lang.databases }}</h4>
    <table id="languages">
        <thead>
        <tr>
            <th class="lan">{{ data.lang.database }}</th>
            <th>{{ data.lang.language_general }}</th>
            {% for icon in ['leaf','beaker','cogs','briefcase','money'] %}
			<th style="width:40px;" class="icons-big"><i class="icon-{{ icon }}" title="{{ attribute(data.lang,'icon_'~icon) }}"></i></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for l in data.databases %}
            {{ _self.skillRow(l) }}
        {% endfor %}
        </tbody>
    </table>


    <h4>{{ data.lang.paradigm_other_software }}</h4>
    <table id="paradigms" class="table table-striped">
        <thead>
        <tr>
            <th>{{ data.lang.other_skill_area }}</th>
            <th>{{ data.lang.skill }}</th>
        </tr>
        </thead>
        <tbody>
        {% for ssid,l in data.otherSoftware %}
            <tr>
                <th class="lib-name span4" style="text-align:right;">
                    {{ ssid }}
                </th>
                <td>
                    {% for smth in l %}
                        {{ smth }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {#<ul>#}
                    {#{% for smth in l %}#}
                    {#<li>{{ smth }}</li>#}
                    {#{% endfor %}#}
                    {#</ul>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div id="libs-cont">
		<h4>{{ data.lang.libraries_by_language_or_technology }}</h4>
		<table class="table table-striped" id="libs">
			<thead>
			<tr>
				<th>{{ data.lang.library_group }}</th>
				<th>{{ data.lang.libraries }}</th>
			</tr>
			</thead>
			{% for l in data.languages %}
			<tbody class="{{ l.id }}">
				<tr>
					<th colspan="2" class="lib-lang">
						{{ l.name }}
					</th>
				</tr>
				{% for groupName,smthProgGroup in l.getLibsByGroup() %}
				<tr>
					<th class="lib-name">{{ attribute(data.lang,"smth_prog_group_"~groupName) }}</th>
					<td>
						{% for smth in smthProgGroup %}
						{{ smth.name }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</td>
				<tr>
				{% endfor %}
			</tbody>
			{% endfor %}
		</table>
	</div>

    <h3>{{ data.lang.other_skills }}</h3>

  {#
    <div class="row">
        <div class="span2 headers">
            {{ data.lang.other_skill_area }}
        </div>
        <div class="span4 headers">
            {{ data.lang.skill }}
        </div>
    </div>

    {% for ssid,l in data.otherSkills %}
    <div class="row">
        <div class="span2 headers">
            {{ ssid}}
        </div>
        <div class="span4 headers">
            {% for smth in l %}
                {{ smth }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    #}

    <table class="table table-striped" id="other-skills">
        <thead>
        <tr>
            <th>{{ data.lang.other_skill_area }}</th>
            <th>{{ data.lang.skill }}</th>
        </tr>
        </thead>
        <tbody class="{{ l.id }}">
        {% for ssid,l in data.otherSkills %}
            <tr>
                <th class="lib-name">
                    {{ ssid }}
                </th>
                <td>
                    {% for smth in l %}
                        {{ smth }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ _self.head(data.lang.soft_skills) }}

	<table class="table table-striped" id="libs">
		<thead>
			<tr>
				<th>{{ data.lang.soft_skill_area }}</th>
				<th>{{ data.lang.skill }}</th>
			</tr>
		</thead>
		<tbody class="{{ l.id }}">
			{% for ssid,l in data.softSkills %}
			<tr>
				<th class="lib-name">
					{{ ssid }}
				</th>
				<td>
                    {% for smth in l %}
                        {{ smth }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {#<ul>#}
					{#{% for smth in l %}#}
                        {#<li>{{ smth }}</li>#}
					{#{% endfor %}#}
                    {#</ul>#}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


    {% macro portfolio(items) %}
        <ul class="thumbnails">
            {% for item in items %}
                <li class="span4 portitem">
                    <div class="thumbnail" >
                        <a href="{{ item.url }}">
                            <img alt="{{ item.title }}" style="width: 300px; height: 200px;" src="img/thumb/{{ item.id }}.png">
                            <span class="url muted">({{ item.url }})</span>
                        </a>
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.descr }}</p>
                        <p><strong>Responsibilities: </strong> {{ item.responsibilities }}</p>
                    </div>
                </li>
            {% endfor %}
            <li class="span4 portitem">
                <div class="thumbnail" >
                    <a href="http://github.com/GregPK">
                        <img alt="GitHub" style="width: 300px; height: 200px;" src="img/thumb/github.jpg">
                        <span class="url muted">(http://github.com/GregPK)</span>
                    </a>
                    <h3>Github</h3>
                    <p>Take a look at some of my open source projects. Not my best work, but putting it out there nonetheless.</p>
                    <p>Other projects coming as we speak&hellip; Err&hellip; read&hellip; well&hellip; communicate.</p>
                </div>
            </li>
        </ul>
    {% endmacro %}

    {{ _self.head(data.lang.portfolio_header,null,null,'portfolio') }}

    {{ _self.head(data.lang.portfolio_header_freelance,3) }}

    {{ _self.portfolio(data.portfolioFreelance) }}

  {#
    {{ _self.head(data.lang.portfolio_header_gt,3) }}
    {{ _self.portfolio(data.portfolioGT) }}
    #}

</div>
<!-- /container -->

<div class="container">
{% if data.lang.missing|length > 0 %}
<pre>
{{ data.lang.getMissingVE()|raw }}
</pre>
{% endif %}
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('i[title]').tooltip();
	});
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37851597-1']);
  _gaq.push(['_setDomainName', 'gkaczorek.pl']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
