.container.col-sm-6.well
  .row
    .col-sm-3.headers= i18n.basic_name 
    .col-sm-4
      = resume.person_data.full_name
  .row
    .col-sm-3.headers= i18n.basic_birth  
    .col-sm-4
      = resume.person_data.date_of_birth
  .row
    .col-sm-3.headers= i18n.basic_email
    .col-sm-4
      %a{href: resume.person_data.email} 
        = resume.person_data.email

-# do not show photo in dev
  .photo.container.col-sm-4
    %img{alt: "", src: "img/photo.jpg"}/

- resume.socials['portals'].each do |s,link|
  = icon "#{s}#{resume.socials['addclass']}", "#{resume.socials['size']}x"




