!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    
    %title= i18n.page_title
    
    %link{href: "css/cv.css", rel: "stylesheet"}/
    //%link{href: "css/font-awesome.css", rel: "stylesheet"}/
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      
  %body
    
    = partial('menu')
    
    .container
      = partial('info')

      .clearfix
      = partial('statement')
    .container
      .row
        .col-sm-6
          = partial('education')

    .clearfix
    .container
      = partial('skills')
      
    .container
      = partial('portfolio')
    
    .container
      = partial('libs')

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/cv.js'}
    %script{src: 'js/bootstrap.min.js'}
    
      
    :javascript
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.gkaczorek.com/_piwik_analytics/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "2"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();

    %noscript
      %img{src:"http://www.gkaczorek.com/_piwik_analytics/piwik.php?idsite=2&amp;rec=1&amp;action_name=CV+-+Kaczorek+Grzegorz", style:"border:0", alt:""}

